{% extends 'main/base.html' %}{% block content %}
<h2>Detalji utakmice</h2>
<ul class="list-group mb-3">
  <li class="list-group-item"><strong>Datum:</strong> {{ object.datum }}</li>
  <li class="list-group-item">
    <strong>Protivnik:</strong> {{ object.protivnik }}
  </li>
  <li class="list-group-item">
    <strong>Lokacija:</strong> {{ object.lokacija }}
  </li>
  <li class="list-group-item">
    <strong>Rezultat:</strong> {{ object.rezultat }}
  </li>
  <li class="list-group-item"><strong>Opis:</strong> {{ object.opis }}</li>
</ul>
<a class="btn btn-secondary" href="{% url 'main:match-list' %}">Natrag</a>
{% endblock %}
