{% extends 'main/base.html' %} {% block content %}
<h2>Detalji utakmice</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Datum:</strong> {{ object.datum }}</li>
  <li class="list-group-item">
    <strong>Protivnik:</strong> {{ object.protivnik }}
  </li>
  <li class="list-group-item">
    <strong>Lokacija:</strong> {{ object.lokacija }}
  </li>
  <li class="list-group-item">
    <strong>Rezultat:</strong> {{ object.rezultat }}
  </li>
  <li class="list-group-item"><strong>Opis:</strong> {{ object.opis }}</li>
</ul>
<a href="{% url 'main:match-list' %}" class="btn btn-secondary mt-3">Natrag</a>
{% endblock %}
