{% extends 'main/base.html' %} {% block content %}
<h2>Utakmice</h2>
<a class="btn btn-primary mb-3" href="{% url 'main:match-create' %}"
  >Dodaj utakmicu</a
>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Protivnik</th>
      <th>Lokacija</th>
      <th>Rezultat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for match in object_list %}
    <tr>
      <td>{{ match.datum }}</td>
      <td>{{ match.protivnik }}</td>
      <td>{{ match.lokacija }}</td>
      <td>{{ match.rezultat }}</td>
      <td>
        <a
          class="btn btn-sm btn-info"
          href="{% url 'main:match-detail' match.pk %}"
          >Detalji</a
        >
        <a
          class="btn btn-sm btn-warning"
          href="{% url 'main:match-update' match.pk %}"
          >Uredi</a
        >
        <a
          class="btn btn-sm btn-danger"
          href="{% url 'main:match-delete' match.pk %}"
          >Obriši</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
