{% extends 'main/base.html' %} {% block content %}
<h1>Popis Igrača</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Pozicija</th>
      <th>Kategorija</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    {% for player in object_list %}
    <tr>
      <td>{{ player.ime }}</td>
      <td>{{ player.prezime }}</td>
      <td>{{ player.get_pozicija_display }}</td>
      <td>{{ player.get_kategorija_display }}</td>
      <td>
        <a
          href="{% url 'main:player-detail' player.pk %}"
          class="btn btn-info btn-sm"
          >Detalji</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'main:player-create' %}" class="btn btn-success"
  >Dodaj Igrača</a
>
{% endblock %}
